/*Desktop*/
@media (max-width: 1300px) {
    .slider__title {
        font-size: 100px;
    }

    .slider__img {
        width: 504px;
        height: 594px;
    }

}
/*Table*/
@media (max-width: 1000px) {
    .header__title {
        font-size: 50px;
        margin-bottom: 38px;
    }

    .header__text {
        font-size: 24px;
        margin-bottom: 52px;
    }

    .nav__list {
        column-gap: 60px;
    }

    .slider {
        width: 1300px;
    }

    .slider__title {
        font-size: 80px;
        background: linear-gradient(90deg, rgba(17, 68, 85, 1) 50px, rgba(255, 255, 255, 1) 50px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .slider__img {
        width: 336px;
        height: 396px;
    }

    .slide {
        padding-left: 50px;
    }

    .title {
        font-size: 60px;
    }

    .text {
        font-size: 22px;
    }

    .case-studies {
        padding: 80px 0;
    }

    .about {
        padding: 80px 0;
    }

    .about__text {
        padding-bottom: 50px;
    }

    .footer {
        padding: 32px 0;
    }

    .footer a {
        color: rgba(0, 0, 255, 0.7);
    }

    .footer__row {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 20px;
    }

    .footer__nav {
        flex-direction: column;
        row-gap: 37px;
        align-items: center;
    }
}

/*Mobile*/
@media (max-width: 600px) {
    .nav__list {
        display: none;
    }

    .nav__btn {
        display: block;
        margin-right: 1px;
    }

    .header__content {
        display: none;
    }

    .header__content-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 27px;

        color: rgba(31, 31, 31, 0.7);
    }

    .header__logo-mobile {
        width: 244px;
    }

    .header__content-mobile-text {
        max-width: 237px;
        line-height: 1.5;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.06em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .header__arrows {
        width: 19px;
        height: 16px;
        bottom: 32px;
    }

    .case-studies {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .case-studies__title {
        width: 195px;
        margin-bottom: 7px;
    }

    .case-studies__text {
        margin-bottom: 31px;
    }

    .title {
        font-size: 32px;
    }

    .text {
        font-size: 16px;
    }

    .slide__img {
        width: 224px;
        height: 264px;
    }

    .slider__title {
        bottom: 22px;
        font-size: 60px;
        background: linear-gradient(90deg, rgba(17, 68, 85, 1) 33px, rgba(255, 255, 255, 1) 33px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .slider {
        width: 590px;
    }

    .slide {
        padding-left: 24px;
    }

    .about {
        padding: 40px 0 80px;
    }

    .about__title {
        margin-bottom: 7px;
    }

    .about__text {
        margin-bottom: 40px;
    }

    .video {
        overflow: hidden;
    }

    .video__btn {
        width: 48px;
        height: 48px;
    }

    .video__picture, .video__picture img {
        width: 100%;
    }

    .video__object {
        position: absolute;
        left: -50%;
        top: 0;
        width: 900px;
        height: 459px;
        vertical-align: top;
    }
}